/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

/* hacks */
/* work around mobile device auto-fitting */
@media only screen and (max-device-width:800px){
    p{background-image:url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}
}
/* end hacks. well,... */

/* fonts */
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-lig-webfont.eot');
    src: url('../fonts/lato/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-lig-webfont.woff') format('woff'),
         url('../fonts/lato/lato-lig-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-lig-webfont.svg#lato') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-reg-webfont.eot');
    src: url('../fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-reg-webfont.svg#lato') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-ligita-webfont.eot');
    src: url('../fonts/lato/lato-ligita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-ligita-webfont.woff') format('woff'),
         url('../fonts/lato/lato-ligita-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-ligita-webfont.svg#lato') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'segoe_print';
    src: url('../fonts/segoepr/segoepr-webfont.eot');
    src: url('../fonts/segoepr/segoepr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoepr/segoepr-webfont.woff') format('woff'),
         url('../fonts/segoepr/segoepr-webfont.ttf') format('truetype'),
         url('../fonts/segoepr/segoepr-webfont.svg#segoe_print') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* end fonts */

/* palette
 * grey -> #89a
 * dark grey -> #555
 * red -> #f66
 * green -> #2db
 * blue -> #39d
 * light blue -> #8ce
 * violet -> #88e
 * orange -> #ea7
 */

/* begin global */
img{max-width:100%}
input[type="text"], input[type="password"], input[type="email"],
input[type="number"], input[type="url"], input[type="tel"]{
    margin:0; padding:5px 2px;
    border:1px solid #ccc; border-top-color:#999; border-left-color:#999;
    box-shadow:1px 1px 1px -1px #999 inset;
}
input[type="submit"], select{
    box-sizing:content-box; -moz-box-sizing:content-box;
    -webkit-appearance:none; -webkit-border-radius:0; /* -webkit for fixing rounded corners on iPhone*/
}
a{color:#ee4; text-decoration:none; transition:color .2s}
em{font-weight:bold}
strong{font-weight:bold; background:rgba(0,0,0,.1); padding:1px 5px}
small{font-size:0.8em; color:#999}
body{
    min-width:980px; background:#fcfcfc;
    font:14px/1.5em lato, Verdana, Helvetica, Arial, sans-serif;
    color:#222; /*text-shadow:0 0 1px rgba(0,0,0,.1)*/
}
h1{font-size:1.5em}
h2{font-size:1.2em}
sup{vertical-align:super; line-height:1em; font-size:smaller}
i{font-style:italic}
/* end global */

/* begin util */
.clear{clear:both}
.error, .errorlist{color:#f66; transition:color .2s}

.btn, .btn-small, .btn-clr, .btn-clr-small{
    color:#fff; border:1px solid; display:inline-block; cursor:pointer; transition:all .4s;
}
.btn, .btn-clr{font-size:24px; padding:0 30px; height:60px; line-height:60px}
.btn-small, .btn-clr-small{font-size:16px; padding:0 15px; height:30px; line-height:30px}

.btn, .btn-small{background:#f66; border-color:#f66}
.btn-clr, .btn-clr-small{background:none;  border-color:#fff}
.btn:hover, .btn-small:hover, .btn-clr:hover, .btn-clr-small:hover{background:#f77; border-color:#f77}
/* end util */

/* begin common */
body{background:url(../images/texture.png) fixed; position:relative}
header{
    position:fixed; width:100%; left:0; top:0; z-index:1;
    background:rgba(0,0,0,.15); color:#fff;
    line-height:66px; text-align:center;
}
header a.title{
    float:left; padding:0 20px; background:rgba(255,255,255,.1);
    font-family:segoe_print, cursive, sans-serif; font-size:1.8em; font-weight:bold; color:#fff; text-shadow:1px 1px 1px #444;
}
header .curtitle{display:none; font-size:20px}
header .burger{display:none; background:rgba(255,255,255,.1) url(../images/burger.png) no-repeat center; color:transparent; cursor:pointer}
header ul.nav{float:left; margin-left:60px; font-size:20px}
header ul.nav li{float:left; margin:0; transition:all .4s}
header ul.nav li a{color:#fff; display:inline-block; padding:0 20px;}
header ul.nav li.current{background:rgba(255,255,255,.3)}
header ul.nav li:hover{background:rgba(255,255,255,.4)}
header a.logo{
    position:absolute; right:30px; top:30px; width:130px; height:130px;
    color:transparent; background:url(../images/logo.png) no-repeat center;
    transition: all 1s;
}
#spotlight{
    position:fixed; left:0; top:0; width:100%; height:100%;
    background:radial-gradient(circle at 80% 50%, rgba(180,180,180,.1), transparent);
}
//#cnt{position:fixed; left:0; top:0; width:100%; height:100%}
#content{transition:all 1s;}
#cnt .page{
    position:relative; padding-top:66px; color:#eee;
    background-position:center right;
    background-repeat: no-repeat;
}
#cnt .page .page-cnt{height:100%; overflow:auto; padding:0 20px}
#cnt .page .page-cnt .page-cnt-pad{height:60px}
#cnt .page .page-cnt .box{width:50%; margin:40px auto; padding:20px; background:rgba(0,0,0,.6)}
footer{
    display:none;
    position:fixed; left:0; bottom:0; z-index:1;
    background:rgba(0,0,0,.8); color:#ccc;
    line-height:60px;
}
footer a{color:#aaa}
footer a:hover{color:#ccc}
footer .copyright{color:#ccc; padding:0 20px; float:right;}
.social a{
    background:url() no-repeat center; color:transparent;
    width:70px; height:60px; display:inline-block;
    transition:all .4s;
}
.social a.facebook{background-image:url(../images/icon_facebook.png)}
.social a.twitter{background-image:url(../images/icon_twitter.png)}
.social a.instagram{background-image:url(../images/icon_instagram.png)}
footer .social{float:left}
footer .social a{float:left}
footer .social a:hover{background-color:rgba(255,255,255,.3); color:transparent}


@media screen and (max-width: 980px){
    body{min-width:0}

    header a.logo{display:none;}
    header .curtitle{display:initial}
    header .burger{float:right; display:block}
    header ul.nav{display:none; position:absolute; left:0; right:0; top:66px; margin-left:0px; float:none; background:rgba(0,0,0,.5)}
    header ul.nav li{float:none; text-align:center}
    header ul.nav li a{padding:0; display:block;}
    header.active ul.nav{display:initial}

    #cnt .page .page-cnt .box{width:auto}

    footer{text-align:center;}
    footer span.social a{float:none;}
}
/* end common */


#cnt .page_home{font-family:"Gloria Hallelujah", cursive, sans-serif; background-color:#000; background-image:url(../images/bg_about.jpg); background-position:bottom right}
#cnt .page_media{background-color:rgba(0,0,0,.3)}
#cnt .page_shows{background-image:url(../images/bg_shows1.png)}
#cnt .page_contact{background-color:rgba(0,0,0,.3); background-image:url(../images/bg_contact.png); background-position:center}

#cnt .page_home{font-size:1.5em; line-height:1.5em}
#cnt .page_home p{margin:20px 0}
#cnt .page_home p.social{text-align:center}

#cnt .page_headshots .carousel-cnt{margin:40px auto; padding:0 150px; position:relative}
#cnt .page_headshots .carousel-cnt .cbtn{
    position:absolute; top:50%;
    font-size:30px; width:100px; line-height:50px; margin-top:-15px;
    background:rgba(255,255,255,.1); cursor:pointer; text-align:center;
}
#cnt .page_headshots .carousel-cnt .cbtn.back{left:50px}
#cnt .page_headshots .carousel-cnt .cbtn.next{right:50px}
#cnt .page_headshots .carousel-cnt .cbtn.slick-disabled{color:#aaa}
#cnt .page_headshots .carousel{background:rgba(255,255,255,.1)}
#cnt .page_headshots .carousel .slick-slide{text-align:center}
#cnt .page_headshots .carousel .slick-slide img{margin:0 auto; max-height:600px}
#cnt .page_headshots .carousel .slick-dots li button:before{color:#fff}

#cnt .page_media .video{margin:40px 0; text-align:center}
#cnt .page_media .video a{display:none; font-size:1.2em; line-height:1.5em; margin-left:10px}
#cnt .page_media .news{text-align:center}
#cnt .page_media .news .heading{padding:40px 10px 5px; margin:0 auto 5px auto; width:50%; border-bottom:1px solid #999}
#cnt .page_media .news a{display:block; margin:10px 0 10px 10px}


#cnt .page_shows ul.gcal-events li{padding:10px 0}
#cnt .page_shows .gcal-events .day{float:left; width:100px}
#cnt .page_shows .gcal-events .month{
    display:inline-block; width:50px; border-radius:10px 10px 0 0;
    background:#eee; color:#333;
    font-weight:bold; padding:5px 10px; text-align:center; text-transform:uppercase;
    border:1px solid #eee;
}
#cnt .page_shows .gcal-events .date{
    display:inline-block; width:50px; border-radius:0 0 10px 10px;
    background:#333; color:#eee; padding:5px 10px; text-align:center;
    font-size:3em; line-height:1em; font-weight:bold;
    border:1px solid #eee;
}
#cnt .page_shows .gcal-events .title{font-size:2em; line-height:2em}
#cnt .page_shows .gcal-events .venue{font-size:1.2em; color:#ccc; margin-right:10px}
#cnt .page_shows .gcal-events .place{color:#aaa}
#cnt .page_shows #overlay{display:none}
.overlay-visible .title{font-size:2em; line-height:2em; font-weight:bold}
.overlay-visible .description{font-size:1.2em; line-height: 1.5em; padding-bottom:10px}
.overlay-visible .date{font-size:1.2em; line-height:1.5em}
.overlay-visible .venue{font-size:1.2em; line-height:1.5em; margin-right:10px}
.overlay-visible .place{color:#666;}
.overlay-visible .map{
    margin: 20px auto;
    border: 1px dashed #C0C0C0;
    width: 600px;
    height: 300px;
}
#cnt .page_shows .heading{padding:40px 10px 5px; margin-bottom:5px; width:50%; border-bottom:1px solid #999}
#cnt .page_shows .heading h2{display:inline}
#cnt .page_shows .heading .expand{margin-left:10px; cursor:pointer}
#cnt .page_shows #gcal-events-archive{display:none}
#facebox{max-width:650px}
#facebox .content.overlay-visible{width:auto}
#facebox .close{width:1.5em; text-align:center}


#cnt .page_shows #googleMap{
    margin-top:20px;
    width: 50%;
    height: 300px;
}
#cnt .page_shows #googleMap .gm-style-iw{
    color:#222;
}

#cnt .page_contact p{margin:20px 0; color:#ddd; font-size:1.5em; line-height:1.5em}
#cnt .page_contact p.social{text-align:center}
#cnt .page_contact .box:first-child{margin-top:80px}
#cnt .page_contact p .email{margin-left:20px}
#cnt .page_contact a{text-decoration:underline}

@media screen and (max-width: 980px){
    #cnt .page_intro p.m_one{right:20px; padding-left:20px;}
    #cnt .page_intro p.m_two{left:80px; padding-right:20px;}
    #cnt .page_intro p.m_three{
        left:20px; padding-right:20px; bottom:200px;
        text-align:center; line-height:1.5em;
    }

    #cnt .page_home{/*background-size:contain;*/ font-size:1.2em}

    #cnt .page_headshots .carousel-cnt{padding:0}
    #cnt .page_headshots .carousel-cnt .cbtn{display:none !important}
    #cnt .page_headshots .carousel-cnt .slick-prev{display:none !important}
    #cnt .page_headshots .carousel-cnt .slick-next{display:none !important}

    #cnt .page_media .news .heading{width:auto}

    #cnt .page_shows .heading{width:auto}
    .overlay-visible .map{width:100%}
}
@media screen and (max-width: 600px){
    #cnt .page_media .video iframe{display:none}
    #cnt .page_media .video a{display:block}
}
